/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-image: url('imagens/arnaud-papa-nuW1WqqDzsU-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(4, 151, 28);
  font-size: 18px;
  animation: scrollBackground 5s linear infinite;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(4, 151, 28);
  text-align: center;
  padding: 10px;
  position: relative;
  top: 0;
  z-index: 999;
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.topbar .menu-btn {
  display: none;
  font-size: 24px;
  text-align: center;
  color: rgb(11, 215, 230);
  background: none;
  border: none;
  cursor: pointer;
}

.topbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.topbar ul li {
  margin: 0;
}

.topbar ul li a {
  color: rgb(11, 215, 230);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  display: block;
}

/* Estilos para seções */
section {
  margin: 20px auto;
  padding: 20px;
  background-color: transparent;
  max-width: 800px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.sobre h2, .projetos h2, .cv h2, .contatos h2 {
  text-align: center;
  color: rgb(4, 151, 28);
  font-size: 1.8rem;
}

.sobre p, .projetos p, .cv p, .contatos p {
  margin: 10px 0;
  text-align: center;
}

.perfil-image {
  max-width: 200px;
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.sobre img, .projetos img, .cv img, .contatos img {
  max-width: 100%;
  margin-bottom: 20px;
}

.projetos img {
  margin-bottom: 10px;
}

.cv img {
  max-width: 500px;
}

.contatos h2 {
  margin-bottom: 40px;
}

.contatos p {
  margin-bottom: 20px;
}

/* Estilos do footer */
footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.3em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.social-icons img {
  max-width: 30px;
  height: auto;
}

.creditos {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
}

/* Estilos para telas grandes */
@media screen and (min-width: 769px) {
  section {
    padding-left: 30px;
    padding-right: 30px;
  }

  #sobre img, .perfil-image {
    float: left;
    display: block;
    margin-right: 20px;
  }

  #projetos img {
    margin-bottom: 0;
  }

  footer {
    position: fixed;
  }

  footer.creditos {
    margin-right: 0;
  }

  footer.creditos a {
    margin-right: 10px;
  }

  footer.social-icons {
    text-align: center;
  }

  footer.social-icons img {
    max-width: 20px;
  }

  footer.social-icons a {
    margin-right: 0;
  }

  footer.social-icons a:hover {
    filter: brightness(1.2);
  }
}

/* Estilos para a tela de apresentação (splash) */
#splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('terry-vlisidis-WsEbnsnKbUE-unsplash.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  z-index: 10000;
  color: #fff;
}

#splash-screen h1, #splash-screen p {
  margin: 0;
}

/* Ajuste para telas médias */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .splash-screen {
    background-size: contain;
  }

  #splash-screen h1 {
    font-size: 2rem;
  }

  #splash-screen p {
    font-size: 1.2rem;
  }

  footer {
    position: static;
  }

  footer.creditos {
    margin-right: 0;
  }

  footer.social-icons {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  footer.social-icons img {
    max-width: 20px;
    height: auto;
    margin: 0 5px;
  }

  footer.social-icons a {
    margin-right: 0;
  }
}

/* Ajuste para iPhone X */
@media only screen and (device-width: 375px) and (device-height: 812px) {
  footer.social-icons img {
    max-width: 20px;
    height: auto;
  }

  footer {
    padding: 0.5em;
  }

  .topbar ul {
    display: none;
  }

  .topbar .menu-btn {
    display: block;
  }

  .topbar ul.active {
    display: flex;
  }
}

/* Ajuste para telas pequenas */
@media screen and (max-width: 480px) {
  .splash-screen {
    background-size: contain;
  }

  #splash-screen h1 {
    font-size: 2rem;
  }

  #splash-screen p {
    font-size: 1.2rem;
  }

  footer {
    position: static;
    padding: 1em;
  }

  footer.creditos {
    margin-right: 0;
  }

  footer.social-icons {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  footer.social-icons img {
    max-width: 30px; /* Mantém os ícones pequenos */
    height: auto;
    margin: 0 5px;
  }

  footer.social-icons a {
    margin-right: 0;
  }

  .topbar .menu-btn {
    display: block;
  }

  .topbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    box-sizing: border-box;
  }

  .topbar ul.active {
    display: flex;
  }

  .topbar ul li {
    width: 100%;
  }

  .topbar ul li a {
    display: block;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
  }
}







